<%- include("templates/header") %> 
<h1 style = "margin-left: 10%;">Cats!</h1>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <img src='<%= catGif %>' style='width:250px;'>
      </div>
      <div class="col-sm">
        <img src='<%= catGif %>' style='width:250px;'>
      </div>
      <div class="col-sm">
        <img src='<%= catGif %>' style='width:250px;'>
      </div>
    </div>
  </div>
    <%- include("templates/footer") %>